[submodule "Cell-DEVS-CO2_spread_indoor"]
	path = Cell-DEVS-CO2_spread_indoor
	url = https://github.com/SimulationEverywhere-Models/Cell-DEVS-CO2_spread_indoor
[submodule "Cadmium-Cell-DEVS-Modified-Hoya-Model"]
	path = Cadmium-Cell-DEVS-Modified-Hoya-Model
	url = https://github.com/SimulationEverywhere-Models/Cadmium-Cell-DEVS-Modified-Hoya-Model
[submodule "Geography-Based-Model"]
	path = Geography-Based-Model
	url = https://github.com/SimulationEverywhere-Models/Geography-Based-Model
[submodule "Cell-DEVS-Hoya"]
	path = Cell-DEVS-Hoya
	url = https://github.com/SimulationEverywhere-Models/Cell-DEVS-Hoya
[submodule "Cell-DEVS_CO2_with_Room_Ducts_Model-1"]
	path = Cell-DEVS_CO2_with_Room_Ducts_Model-1
	url = https://github.com/SimulationEverywhere-Models/Cell-DEVS_CO2_with_Room_Ducts_Model-1
